.c-button {
    border-radius: $defaultUnit * 1.5;
    padding: ($defaultUnit * 1.5) ($defaultUnit * 2);
    text-decoration: none;
    font-size: $defaultUnit * 2;

    &:hover {
        cursor: pointer;
    }
}

.c-button--default {
    @extend .c-button;
    border: 1px solid $brandDark;
    color: $defaultText;
    background-color: $cardBackgroundColour;

    &:hover,
    &:active {
        background-color: $borderColour;
        color: $brandDark;
        border-color: $brandDark;
    }
}

.c-button--success {
    @extend .c-button;
    border: 1px solid $brandDark;
    background-color: $cardBackgroundColour;
    color: $brandDark;

    &:hover,
    &:active {
        background-color: $borderColour;
        border-color: $brandDark;
    }
}

.c-button--icon {
    display: flex;
    align-items: center;
    padding: ($defaultUnit * 1.5) ($defaultUnit * 2);
}

.c-button__icon {
    margin-right: $defaultUnit * 2;
    height: $defaultUnit * 3;
}

.c-button--block {
    display: block;
    text-align: center;
}
