.c-button {
    border-radius: $defaultUnit * 2.75;
    padding: ($defaultUnit * 1.5) ($defaultUnit * 2);
    text-decoration: none;
    font-size: $defaultUnit * 2;

    &:hover {
        cursor: pointer;
    }
}

.c-button--default {
    border: 1px solid $borderColour;
    color: $brandDark;
    background-color: $borderColour;

    &:hover,
    &:active {
        background-color: $brandDark;
        color: $backgroundColour;
        border-color: $brandDark;
    }
}

.c-button--success {
    border: 1px solid $brandDark;
    background-color: $brandDark;
    color: $backgroundColour;
}
