.c-plant-list {
    margin: 0 0 ($defaultUnit * 3);
    padding: 0;
}

.c-plant-list__item {
    padding: 0;
    border-radius: $defaultUnit;
    max-width: 1000px;

    &:not(:last-child) {
        margin: 0 0 ($defaultUnit * 2);
    }

    &:hover {
        .c-plant-list__detail {
            @include shadow-6dp();
            border-color: $brandLight;
            transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .c-plant-list__image {
            transform: rotate(5deg);
        }
    }
}

.c-plant-list__detail {
    flex: 1 1 auto;
    border: 1px solid $borderColour;
    border-radius: $defaultUnit;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.c-plant-list__content {
    border-radius: 0 0 0 $defaultUnit;
    flex: 1 0 100%;
}

.c-plant-list__description {
    flex: 1 1 auto;
    padding: $defaultUnit ($defaultUnit * 2);
    background-color: $cardBackgroundColour;
    border-radius: 0 0 0 $defaultUnit;
}

.c-plant-list__stock {
    flex: 0 0 200px;
    border-radius: 0 0 $defaultUnit 0;
    border-left: 1px solid $borderColour;
    padding: $defaultUnit ($defaultUnit * 2);
    background-color: $cardBackgroundColour;
}

.c-plant-list__title {
    $lrPadding: $defaultUnit * 2;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: $defaultUnit $lrPadding;
    background: $backgroundColour;
    border-radius: $defaultUnit $defaultUnit 0 0;
    color: $brandDark;
    flex: 1 0 calc(100% - (#{$lrPadding} * 2));
}

.c-plant-list__thumbnail {
    flex: 0 0 200px;
    padding-right: $defaultUnit * 2;
}

.c-plant-list__image {
    width: $defaultUnit * 23;
    border-image: url('/images/stamp-border.svg') 8 round;
    border-width: $defaultUnit;
    border-style: solid;
    transition: transform 0.2s ease-in-out 0.1s;
}
