$stockWidth: 150px;
$stockFlexWidth: $stockWidth + ($defaultUnit * 8) + 1;

.c-plant-list {
    margin: 0 0 ($defaultUnit * 3);
    padding: 0;
}

.c-plant-list__item {
    padding: 0;
    max-width: 100%;
    align-items: flex-start;
    margin: 0 0 ($defaultUnit * 3);

    @include lg-up() {
        max-width: 1000px;
    }

    &:hover {
        .c-plant-list__detail {
            @include shadow-6dp();
            border-color: $brandLight;
            transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .c-plant-list__image {
            transform: rotate(5deg);
        }
    }
}

.c-plant-list__detail {
    flex: 1 1 auto;
    border: 1px solid $borderColour;
    border-radius: $defaultUnit;
    transition: box-shadow 0.3s ease-in-out;
}

.c-plant-list__content {
    border-radius: 0 0 0 $defaultUnit;
    flex: 1 0 100%;
    flex-wrap: wrap;
}

.c-plant-list__description {
    flex: 1 1 100%;
    padding: $defaultUnit ($defaultUnit * 2);
    background-color: $cardBackgroundColour;

    @include lg-up() {
        flex: 0 1 calc(100% - #{$stockFlexWidth});
        border-radius: 0 0 0 $defaultUnit;
    }
}

.c-plant-list__stock {
    flex: 1 1 100%;
    border-top: 1px solid $borderColour;
    border-radius: 0 0 $defaultUnit $defaultUnit;
    padding: $defaultUnit ($defaultUnit * 2);
    background-color: $cardBackgroundColour;

    @include lg-up() {
        flex: 0 0 $stockWidth;
        border-top: none;
        border-left: 1px solid $borderColour;
        border-radius: 0 0 $defaultUnit 0;
    }
}

.c-plant-list__header {
    display: flex;
    align-items: center;
    background: $backgroundColour;
    width: 100%;
    border-radius: $defaultUnit $defaultUnit 0 0;
}

.c-plant-list__icon {
    width: $defaultUnit * 4;
    margin: ($defaultUnit * 0.5) ($defaultUnit * 2) 0 0;
}

.c-plant-list__header--new {
    background-color: $brandLight;

    svg {
        fill: $brandDark;
    }
}

.c-plant-list__header--out {
    background-color: $outOfStockColour;

    svg {
        fill: $cardBackgroundColour;
    }
}

.c-plant-list__title {
    flex: 1 0 calc(100% - (#{$defaultUnit} * 10));
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: $defaultUnit $defaultUnit * 2;
    color: $defaultText;
}

.c-plant-list__title--out {
    @extend .c-plant-list__title;
    color: $cardBackgroundColour;
}

.c-plant-list__thumbnail {
    flex: 0 0 200px;
    padding-right: $defaultUnit * 2;
}

.c-plant-list__image {
    width: $defaultUnit * 23;
    border-image: url('/images/stamp-border.svg') 8 round;
    border-width: $defaultUnit;
    border-style: solid;
    transition: transform 0.2s ease-in-out 0.1s;
}
