.c-plant-grid {
    margin: 0 (-($defaultUnit * 2));
    max-width: 100%;

    @include xl() {
        max-width: calc(1000px + (#{$defaultUnit * 4}));
    }
}

.c-plant-grid__item {
    padding: 0 $defaultUnit;
    margin-bottom: $defaultUnit * 2;
    width: 50%;

    @include md-up() {
        padding: 0 ($defaultUnit * 1.5);
        margin-bottom: $defaultUnit * 4;
        width: calc(25% - (#{$defaultUnit * 3}));
    }

    @include xl() {
        width: calc(20% - (#{$defaultUnit * 3}));
    }

    &:hover {
        .c-plant-grid__thumbnail,
        .c-plant-grid__detail {
            @include shadow-6dp();
        }
    }
}

.c-plant-grid__thumbnail {
    border: 1px solid $borderColour;
    border-radius: $defaultUnit * 0.5;
    background: $cardBackgroundColour;
    padding: $defaultUnit;
    margin-bottom: $defaultUnit;
    transition: box-shadow 0.2s ease-in-out;
    height: 100%;
}

.c-plant-grid__image {
    border-radius: $defaultUnit * 0.5;
    width: 100%;
}

.c-plant-grid__detail {
    border: 1px solid $borderColour;
    margin-top: auto;
    border-radius: $defaultUnit * 0.5;
    padding: $defaultUnit;
    background-color: $cardBackgroundColour;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}

.c-plant-grid__title {
    font-size: 1rem;
}

.c-plant-grid__link {
    color: $brandDark;
}

.c-plant-grid__stock {
    margin-bottom: 0;
}
