.h-flex, .h-list--horizontal {
  display: flex; }

.h-flex--column {
  flex-direction: column; }

.h-flex--row {
  flex-direction: row; }

.h-flex-wrap {
  flex-wrap: wrap; }

.h-flex--align-center {
  align-items: center; }

.h-flex--justify-right {
  justify-content: flex-end; }

.h-list--unstyled {
  list-style: none; }

.h-list--no-spacing {
  margin: 0;
  padding: 0; }

.h-list--horizontal__item {
  margin: 4px 0 4px 8px; }
  .h-list--horizontal__item:first-child {
    margin-left: 0; }

.h-heading {
  font-family: "Great Vibes", cursive;
  font-weight: normal; }

.h-no-margin {
  margin: 0; }

.h-margin-left__default {
  margin-left: 8px; }

.h-margin-left__double {
  margin-left: 16px; }

.h-no-padding {
  padding: 0; }

.h-anchor--branded {
  color: #006600; }

.l-body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  background: #f3f3f3 url("/images/noise.png") repeat;
  background-size: 100px;
  color: #222;
  padding: 0;
  margin: 0; }

.l-site-header {
  padding: 16px 0 16px;
  background-color: #99cc99;
  color: #006600;
  border-bottom: 8px solid #006600;
  margin-bottom: 48px; }

.l-site-header__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 8px; }

.l-site-header__form {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .l-site-header__form {
      max-width: 500px; } }
  @media only screen and (min-width: 1500px) {
    .l-site-header__form {
      max-width: 600px; } }

.l-site-header__field {
  background: #fff;
  flex: 1 1 auto; }

.l-site-footer {
  padding: 32px;
  background-color: #99cc99;
  border-top: 8px solid #006600;
  font-size: 0.8rem; }

.l-sidebar-navigation {
  flex: 0 0 200px; }

.l-sidebar-navigation__item:first-child .l-sidebar-navigation__link {
  border-radius: 0 4px 0 0; }
  .l-sidebar-navigation__item:first-child .l-sidebar-navigation__link:hover {
    border-radius: 0 4px 4px 0; }

.l-sidebar-navigation__item:last-child .l-sidebar-navigation__link {
  border-radius: 0 0 4px 0; }
  .l-sidebar-navigation__item:last-child .l-sidebar-navigation__link:hover {
    border-radius: 0 4px 4px 0; }

.l-sidebar-navigation__link {
  padding: 8px 16px;
  display: block;
  min-width: 140px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #ddd;
  border-left: none;
  margin-bottom: -1px;
  margin-right: 24px;
  background: #fff;
  color: #006600; }
  .l-sidebar-navigation__link:hover {
    margin-right: 0;
    border-right: 4px solid #006600;
    border-radius: 0 4px 4px 0; }

.l-page-content {
  padding: 0 32px 0 16px;
  flex: 1 1 auto; }

.l-page-content__title {
  margin-top: 0;
  font-size: 2.5rem; }

.l-plant-view-header {
  padding: 16px;
  color: #006600;
  font-size: 1.2rem; }

.l-plant-view-header__title {
  margin: 0;
  text-shadow: 1px 1px white; }

.l-plant-view-content {
  padding: 48px;
  flex: 1 1 auto;
  background-color: #444; }

.l-plant-view-sidebar {
  flex: 0 1 350px;
  max-width: 350px;
  background: #f3f3f3 url("/images/noise.png") repeat;
  background-size: 100px;
  padding: 0 16px; }

.l-plant-view-sidebar__title {
  margin-top: 0; }

.l-plant-view-footer {
  padding: 16px;
  font-size: 0.8rem; }

.c-button, .c-button--default, .c-button--success {
  border-radius: 12px;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px; }
  .c-button:hover, .c-button--default:hover, .c-button--success:hover {
    cursor: pointer; }

.c-button--default {
  border: 1px solid #006600;
  color: #222;
  background-color: #fff; }
  .c-button--default:hover, .c-button--default:active {
    background-color: #ddd;
    color: #006600;
    border-color: #006600; }

.c-button--success {
  border: 1px solid #006600;
  background-color: #fff;
  color: #006600; }
  .c-button--success:hover, .c-button--success:active {
    background-color: #ddd;
    border-color: #006600; }

.c-plant-list {
  margin: 0 0 24px;
  padding: 0; }

.c-plant-list__item {
  padding: 0;
  border-radius: 8px;
  max-width: 100%; }
  @media only screen and (min-width: 1500px) {
    .c-plant-list__item {
      max-width: 1000px; } }
  .c-plant-list__item:not(:last-child) {
    margin: 0 0 16px; }
  .c-plant-list__item:hover .c-plant-list__detail {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    border-color: #99cc99;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
  .c-plant-list__item:hover .c-plant-list__image {
    transform: rotate(5deg); }

.c-plant-list__detail {
  flex: 1 1 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap; }

.c-plant-list__content {
  border-radius: 0 0 0 8px;
  flex: 1 0 100%; }

.c-plant-list__description {
  flex: 1 1 auto;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 0 0 0 8px; }

.c-plant-list__stock {
  flex: 0 0 200px;
  border-radius: 0 0 8px 0;
  border-left: 1px solid #ddd;
  padding: 8px 16px;
  background-color: #fff; }

.c-plant-list__title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
  background: #f3f3f3;
  border-radius: 8px 8px 0 0;
  color: #006600;
  flex: 1 0 calc(100% - (16px * 2)); }

.c-plant-list__thumbnail {
  flex: 0 0 200px;
  padding-right: 16px; }

.c-plant-list__image {
  width: 184px;
  border-image: url("/images/stamp-border.svg") 8 round;
  border-width: 8px;
  border-style: solid;
  transition: transform 0.2s ease-in-out 0.1s; }

.c-plant-grid {
  margin: 0 -16px;
  max-width: 100%; }
  @media only screen and (min-width: 1500px) {
    .c-plant-grid {
      max-width: calc(1000px + (32px)); } }

.c-plant-grid__item {
  padding: 0 8px;
  margin-bottom: 16px;
  width: 50%; }
  @media only screen and (min-width: 768px) {
    .c-plant-grid__item {
      padding: 0 12px;
      margin-bottom: 32px;
      width: calc(25% - (24px)); } }
  @media only screen and (min-width: 1500px) {
    .c-plant-grid__item {
      width: calc(20% - (24px)); } }
  .c-plant-grid__item:hover .c-plant-grid__thumbnail,
  .c-plant-grid__item:hover .c-plant-grid__detail {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.c-plant-grid__thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  padding: 8px;
  margin-bottom: 8px;
  transition: box-shadow 0.2s ease-in-out;
  height: 100%; }

.c-plant-grid__image {
  border-radius: 4px;
  width: 100%; }

.c-plant-grid__detail {
  border: 1px solid #ddd;
  margin-top: auto;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out; }

.c-plant-grid__title {
  font-size: 0.9rem; }

.c-plant-grid__link {
  color: #006600; }

.c-plant-grid__stock {
  margin-bottom: 0; }

.c-pagination__link {
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px; }
  .c-pagination__link:not(.c-pagination__link--disabled) {
    border: 1px solid #006600;
    border-radius: 4px;
    color: #006600;
    text-decoration: none; }
    .c-pagination__link:not(.c-pagination__link--disabled).c-pagination__link--active, .c-pagination__link:not(.c-pagination__link--disabled):hover {
      background-color: #006600;
      color: #f3f3f3; }

.c-pagination__item {
  padding-bottom: 4px; }
  .c-pagination__item:not(.c-pagination__item--disabled):hover {
    border-bottom: 2px solid #006600; }

.c-pagination__item--active {
  border-bottom: 2px solid #006600; }

.c-card {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  max-width: calc(1000px - (8px * 4)); }
  .c-card :first-child {
    margin-top: 0; }
  .c-card > p:last-child {
    margin-bottom: 0; }

.c-card--light {
  background-color: #99cc99;
  color: #006600; }

.c-card--dark {
  background-color: #006600;
  color: #fff; }

.c-lightbox {
  align-items: center;
  margin: 0; }

.c-lightbox__image {
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 16px; }

.c-lightbox__caption {
  border-radius: 5px;
  background: #f3f3f3;
  padding: 16px;
  font-size: 1.2rem;
  text-align: center;
  max-width: calc(1000px - (8px * 4));
  width: 100%; }

.c-tag {
  height: 24px;
  line-height: 24px;
  padding: 4px 8px;
  flex: 0 1 auto;
  border-radius: 8px;
  background-color: #006600;
  color: #f3f3f3;
  transition: background-color 0.1s ease-in-out; }
  .c-tag:hover {
    background-color: green; }

.c-stats-table {
  border: 1px solid #ddd;
  border-radius: 3px; }
  .c-stats-table th,
  .c-stats-table td {
    padding: 8px; }

.c-key-value-list__item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: border 0.1s ease-in-out; }
  .c-key-value-list__item:hover {
    border-color: #99cc99; }

.c-key-value-list__key {
  display: block;
  flex: 1 0 calc(40% - (8px * 2));
  padding: 8px;
  color: #006600;
  background-color: #ddd;
  text-align: right;
  border-radius: 4px 0 0 4px; }

.c-key-value-list__value {
  display: block;
  padding: 8px;
  flex: 1 0 calc(60% - (8px * 2));
  background-color: #fff;
  border-radius: 0 4px 4px 0; }

.c-field {
  border: 1px solid #ddd;
  border-radius: 22px;
  padding: 12px 16px;
  font-size: 16px; }
  .c-field:hover, .c-field:focus {
    border-color: #006600; }
  .c-field:focus {
    padding: calc((8px * 1.5) - 2px) calc((8px * 2) - 2px);
    border-width: 3px;
    outline: none; }

.c-label {
  font-size: 16px; }

.c-search-list {
  z-index: 1000;
  position: absolute;
  top: 115px;
  width: 300px;
  max-width: 100%;
  margin: 0 calc(50% - 150px); }
  @media only screen and (min-width: 768px) {
    .c-search-list {
      width: 450px;
      margin: 0 calc(50% - 240px); } }

.c-search-list__item:first-child .c-search-list__link {
  border-radius: 4px 4px 0 0; }

.c-search-list__item:last-child .c-search-list__link {
  border-radius: 0 0 4px 4px; }

.c-search-list__item:not(:first-child) .c-search-list__link {
  border-top: none; }

.c-search-list__link {
  border: 1px solid #ddd;
  background: #fff;
  padding: 8px 16px;
  color: #006600;
  transition: border 0.1s ease-in-out; }
  .c-search-list__link:hover {
    background-color: #ddd;
    border-left: 4px solid #006600; }

.c-search-list__name {
  flex: 1 0 auto; }

.c-plant-view-controls {
  margin: 32px 0;
  max-width: 100%; }
  @media only screen and (min-width: 1500px) {
    .c-plant-view-controls {
      max-width: 1000px; } }
