.h-flex, .h-list--horizontal {
  display: flex; }

.h-flex--column {
  flex-direction: column; }

.h-flex--row {
  flex-direction: row; }

.h-flex--grow {
  flex: 1; }

.h-flex-wrap {
  flex-wrap: wrap; }

.h-flex--align-center {
  align-items: center; }

.h-flex--justify-right {
  justify-content: flex-end; }

.h-list--unstyled {
  list-style: none; }

.h-list--no-spacing {
  margin: 0;
  padding: 0; }

.h-list--horizontal__item {
  margin: 4px 0 4px 8px; }
  .h-list--horizontal__item:first-child {
    margin-left: 0; }

.h-heading {
  font-family: "Great Vibes", cursive;
  font-weight: normal; }

.h-no-margin {
  margin: 0; }

.h-margin-left__default {
  margin-left: 8px; }

.h-margin-left__double {
  margin-left: 16px; }

.h-no-padding {
  padding: 0; }

.h-anchor--branded {
  color: #006600; }

.h-textAlign--right {
  text-align: right; }

.h-textAlign--center {
  text-align: center; }

.h-text--larger {
  font-size: 120%; }

.h-text--largest {
  font-size: 150%; }

.h-text--italic {
  font-style: italic; }

.h-text--bold {
  fonr-weight: 700; }

.l-orderForm {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

.l-orderForm__footer {
  display: flex; }

.c-printTable {
  border-collapse: collapse;
  border-spacing: unset;
  width: 100%;
  margin-bottom: 8px; }

.c-printTable__logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 92px;
  margin-bottom: 8px; }

.c-printTable__quantity {
  width: 10%; }

c-printTable__plantChoice {
  width: 30%; }

.c-printTable__price {
  width: 15%; }

.c-printTable__total {
  width: 15%; }

.c-printTable__heading {
  text-align: center;
  border: 1px solid #222;
  padding: 2px 8px; }

.c-printTable__cell {
  border: 1px solid #222;
  padding: 2px 8px; }

.c-printTable__footerCell {
  border-left: none;
  border-bottom: none; }

.c-card {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  max-width: calc(1000px - (8px * 4)); }
  .c-card :first-child {
    margin-top: 0; }
  .c-card > p:last-child {
    margin-bottom: 0; }

.c-card--light {
  background-color: #99cc99;
  color: #222; }

.c-card--dark {
  background-color: #006600;
  color: #fff; }

@media print {
  .c-card {
    border: 2px solid #006600; } }
