.l-body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    background: $backgroundColour url('/images/noise.png') repeat;
    background-size: 100px;
    color: $defaultText;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
