.l-plant-view-content {
    padding: $defaultUnit * 6;
    flex: 1 1 auto;
    background-color: $lightboxBackground;

    @include lg-up() {
        max-width: calc(100% - ((#{$defaultUnit} * 16) + 350px));
    }
}
