.l-plant-view-sidebar {
    flex: 0 1 350px;
    max-width: 350px;
    background: $backgroundColour url('/images/noise.png') repeat;
    background-size: 100px;
    padding: 0 ($defaultUnit * 2);
}


.l-plant-view-sidebar__title {
    margin-top: 0;
}
