$hoverRadius: 0 ($defaultUnit * 0.5) ($defaultUnit * 0.5) 0;

.l-sidebar-navigation {
    flex: 0 0 200px;
}

.l-sidebar-navigation__item {
    &:first-child {
        .l-sidebar-navigation__link {
            border-radius: 0 ($defaultUnit * 0.5) 0 0;

            &:hover {
                border-radius: $hoverRadius;
            }
        }
    }

    &:last-child {
        .l-sidebar-navigation__link {
            border-radius: 0 0 ($defaultUnit * 0.5) 0;

            &:hover {
                border-radius: $hoverRadius;
            }
        }
    }
}

.l-sidebar-navigation__link {
    padding: $defaultUnit ($defaultUnit * 2);
    display: block;
    min-width: 140px;
    transition: all 0.2s ease-in-out;
    border: 1px solid $borderColour;
    border-left: none;
    margin-bottom: -1px;
    margin-right: $defaultUnit * 3;
    background: $cardBackgroundColour;
    color: $brandDark;

    &:hover {
        margin-right: 0;
        border-right: ($defaultUnit * 0.5) solid $brandDark;
        border-radius: $hoverRadius;
    }
}
