.h-flex {
    display: flex;
}

.h-flex--column {
    flex-direction: column;
}

.h-flex--row {
    flex-direction: row;
}

.h-flex--grow {
    flex: 1;
}

.h-flex-wrap {
    flex-wrap: wrap;
}

.h-flex--align-center {
    align-items: center;
}

.h-flex--justify-right {
    justify-content: flex-end;
}
