.h-heading,
.h-subheading {
    font-family: $font-family-sans-cursive;
    font-weight: normal;
}

.h-subheading {
    font-size: 2rem;
    margin-bottom: $defaultUnit;
    padding-top: $defaultUnit * 3;
}
